body {
	font-family: 'Titillium Web', sans-serif;
	background-color: ghostwhite;
	overflow: hidden;
	height: 100%;
}

canvas {
	width: 100%;
	background: #eee;
}

.button-scoreboard {
	background-color: dodgerblue;
	border: none;
	color: white;
	position: fixed;
	right: 10px;
	bottom: 10px;
	border-radius: 6px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	height: 5%;

}


.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 5%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	font-size: 3em;
	margin: auto;
	padding: 0;
	width: 700px;
	border: 2px solid white;
	border-radius: 4px;
	box-shadow: 0 0 200px 100px rgba(0, 0, 0, 0.5), 0 0 50px 5px rgba(0, 0, 0, 0.9);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.6s;
	animation-name: animatetop;
	animation-duration: 0.6s
}

@-webkit-keyframes animatetop {
	from {
		top: -30%;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

@keyframes animatetop {
	from {
		top: -30%;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

.modal-top {
	height: 2em;
	padding: 10px;
	align-items: center;
	display: flex;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-weight: 600;
}

.modal-middle {
	height: 2em;
	padding: 10px;
	align-items: center;
	display: flex;
	background-color: rgba(0, 0, 0, 0.6);
	font-weight: 600;
}

.modal-middle2 {
	height: 2em;
	padding: 10px;
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
}

form {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}


input[type=text] {
	width: 95%;
	display: inline-block;
	padding: 10px 5px;
	border-radius: 6px;
	border: none;
	font-size: 0.7em;
	box-sizing: border-box
}

input[type=submit] {
	display: inline-block;
	background-color: forestgreen;
	border: none;
	color: white;
	padding: 0.6em 1em;
	text-decoration: none;
	font-size: 0.5em;
	border-radius: 6px;
	cursor: pointer;
	font-weight: 900;
}
input[type=submit]:hover {
  background-color: rgb(34, 125, 34);
}


.modal-bottom {
	height: 2em;
	padding: 10px;
	align-items: center;
	display: flex;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	font-size: 50px;
}

.buttonTry {
	background-color: dodgerblue;
	border: none;
	padding: 16px 32px;
	color: white;
	border-radius: 6px;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	font-weight: 900;
}

.buttonTry:hover {
  background-color: rgb(0, 112, 222);
}


@media only screen and (max-width: 720px) {
	.modal {
		padding-top: 10%;
	}

	.modal-content {
		width: 90%;
	}

	.modal-middle {
		font-size: 0.7em;
	}

	input[type=text] {
		padding: 10px 5px;
		border-radius: 6px;
		font-size: 0.5em;
	}

	input[type=submit] {
		padding: 0.6em 0.4em;
		font-size: 0.4em;
	}

	.modal-bottom {
		justify-content: center;
	}
}


/* SCORETABLE / SCORETABLE / SCORETABLE / SCORETABLE */

.scoreboard-button {
	display: flex;
}

.button-home {
	background-color: dodgerblue;
	border: none;
	color: white;
	position: absolute;
	right: 5px;
	padding: 10px;
	margin: 5px;
	border-radius: 6px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}

.scoreboard {
	text-align: center;
	font-size: 40px;
}

.header-text-scoreboard {
	font-size: 80px;
	margin-top: -60px;
}

table {
	border-collapse: collapse;
	width: 800px;
	background-color: #9b9b9b;
}

td,
th {
	border: 2px solid black;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #eee;
}

/* RESET STYLESHEET / RESET STYLESHEET / RESET STYLESHEET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;

	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
