body {
    font-family: "Arial Black", "Impact";
}

canvas {
    display: block; 
    margin: 0 auto;
    margin-top: 5%;
    background:  #eee;
    border: 5px solid gray;
    box-shadow: 0px 0px 50px 81px #eee;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 2px solid grey;
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-top {
    height: 100px;
    padding: 16px;
    align-items: center;
    display: flex;
    background-color: dodgerblue;
    color: white;
    font-size: 60px;

}

.modal-middle {
    height: 100px;
    padding: 16px;
    align-items: center;
    display: flex;
    font-size: 60px;
    background-color: orange;
}

.modal-middle2 {
    padding: 16px;
    height: 100px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background-color: dimgray;
}

.input-div {
    background-color: red;
    padding-left: 0px;
}

input[type=text] {
    background-color: white;
    padding: 10px 5px;
    border-radius: 4px;
    font-size: 30px;
}

.modal-bottom {
    height: 100px;
    padding:  16px;
    align-items: center;
    display: flex;
    background-color: darkred;
    color: white;
    font-size: 60px;
}

.buttonSave {
    background-color: forestgreen;
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Arial Black";
}

.buttonTry {
    background-color: dodgerblue;
    border: none;
    color: white;
    font-family: "Arial Black";
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    margin: auto;
    cursor: pointer;
}
